.right-menu{
float: right;

}

nav a{
text-decoration: none;
margin: 0 25px;
color: black;

}
nav{
    background-color: rgb(128, 128, 128);
    margin: -7px;
}

main {
    text-align: center;
    color: rgb(65, 65, 65);
}
.search{
text-align: center;
margin:  10px 0;
}
.artikujt img {
border-radius: 12px;
max-width: 320px;
max-height: 300px;

}

article {
    display: inline-block;
margin: 10px;
text-align: left;
}
.artikujt{
    color: rgb(0, 0, 0);
    background-color: rgb(93, 93, 93);
     margin: -8px;
}

footer {
background-color: rgb(255, 255, 255);
text-align: center;
margin-top: 10xp;
padding: 15px;
}

footer a{
color: rgb(0, 0, 0);
text-decoration: none;
margin :0 15px;
text-align: center;
}

aside{
    float: right;
width: 300px;
margin-left: 40px;
background-color: rgb(0, 0, 0);
}